/* style by stanislav chlup */

body {
    font-size: 15pt;
    user-select: none;
    background: #111122;
}
canvas{
	border: solid;
	border-color: white;
	position: absolute;
	top: 50px;
	left: 5px;
}
#mines{
	color: #aacccc
}
#mode{
	position: absolute;
	top: 475px;
	left: 350px;
	height: 50px;
	width: 50px;
	background: #9999aa;
	padding: 0px;
	font-size: 30px;
}
#r{
	position: absolute;
	background: #9999aa;
	top: 0px;
	left: 50%;
	margin-left: -22.5px;
	height: 45px;
	width: 45px;
	padding: 0px;
	font-size: 30px;
}
#p{
	position: absolute;
	top: 550px;
	margin: 0 auto;
	color: lawngreen;
	font-size: 50px;
}
#show{
	position: absolute;
	top: 475px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 50px;
	background: sandybrown;
}
